.careers-column img{
    max-width:300px;
}

.careers-msg{
    color: #999;
    font-size:13px;
    line-height:25px;
    padding:10px 0;
    max-width:300px;
}

.careers-div{
    padding:10px;
}

.careers-link{
    text-decoration:none;
    font-weight:bold;
    color:#303077;
    line-height:25px;
}

@media all and (max-width:400px){
    .careers-msg,
    .careers-column img{
        max-width:100% !important;
    }
}