.footer-buttons{
    padding-inline-start: 0px;
    display:flex;
}
.openInButton{
    padding: 5px;
    width: 100%;
    list-style-type:none;

}
.openInButton img{
    height:18px;
    margin-right:10px;
    vertical-align: middle;
}
.openInButton a{
    border:1px solid blue;
    padding:10px 20px;
    text-decoration:none;
    font-weight: 700;
    border-radius: 4px;
    font-size:13px;
    display:block;
}
.bing a{
    background:#00897a;
    color:#FFF;
}