* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form input{
    border:1px solid #d7d7d7;
    border-radius:4px;
    display: block;
    width: calc(100% - 30px);
    padding: 10px;
}
input[error-flag="true"],
[error-flag="true"] input {
  border: 1px solid red;
}
label[for='switch_left'],
label[for='switch_right']{
  cursor: pointer;
}
input[type='submit']{
    border:0px;
    border-top:1px solid #d7d7d7;
    background: #0599c4;
    color:#FFF;
    text-transform: uppercase;
    width:calc(100% + 40px);
    margin-left:-20px;
    border-radius:0px;
    padding:15px;
}
label.form-label {
  color: #303077;
  font-size: 14px;
  line-height: 28px;
  font-weight: bold;
}


.login-container{
    padding: 20px 20px 0 20px;
    text-align: left;
}
 div.form-field{
     padding:5px 0px;
 }
 .form-field.submit-field{
   padding-bottom:0px;
 }
 button.submitBtn{ 
     bottom:0;
     left:0px;
 }
 .switch-field {
  text-transform: uppercase;
  overflow: hidden;
}
.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.switch-field label {
  display: inline-block;
  min-width:70px;
  background-color: #FFF;
  color: #777;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 12px 20px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.switch-field input:checked + label {
  background-color: #0d3161;
	color: #fff;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #DDD;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
  border-right: 1px solid #DDD;
}