.menuHeader,
.header-item{
    align-items:center;
    display:flex;
    flex-wrap:no-wrap;
}
.menuHeader {
    background-color: #00407d;
    height: 50px;
    justify-content: left;
    width: 100%;
    padding:20px 5px;
}

.header-item{
    align-self:stretch;
    margin-right:16px;
}

.header-item a {
    color:#FFF;
    padding: 17px;
    text-transform: uppercase;
    font-size:14px;
    cursor: pointer;
    text-decoration: none;
}

.header-item a.selected {
    background:#0078ff;
}