body{
  background:#F5F5F5;
  font-family:Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
}
h1{
  font-size:35px;
  color:#383884;
  text-align:left;
  margin-left:10px;
}
h3{
  font-size:15px;
  color:#303077;
}

div#app{
   display:block;
}

div.mainSection{
  display:block;
}
section{
    width:auto !important;
}
div.mainSection > div {
  background-color: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  min-width:300px !important;
  display:inline-block;
  vertical-align: top;
  float:left;
}

@media all and (max-width:600px){
  div.mainSection{
    display:flex;
    flex-direction: column;
 }
}