.weather-name,
.weather-msg{
    padding:20px;
    font-size:18px;
    color:#303077;
}

.weather-date{
    font-size:14px;
    color:#377ab5;
    font-weight:bold;
}
.weather-column{
    text-align:center;
}

.weather-temp{
    display:flex;
    flex-direction:column;
}
.weather-condition-div{
    padding:10px 0px;
}
.weather-condition-div *{
    padding-left:10px;
}